/**
 * Created by hongye on 2017/1/23.
 */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a,strong, ul,li,pre,
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 14px;
    vertical-align: baseline;
}
html {
    line-height: 1.2;
}
body{
    font-family:  'Microsoft Yahei',arial, 'Hiragino Sans GB', sans-serif;
    background-color: #fff;
    min-width:1108px;
}
 ul {
    list-style: none;
}

a, img {
    border: none;
    list-style: none;
}
:link, :visited {
    color: transparent;
    text-decoration: none;
}
.clear::after {
    display: block;
    content: '';
    clear: both;
}
.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.header{
    width: 100%;
    min-width: 1108px;
    height: 87px;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #c7010b;
}
.container{
    margin: 0 auto;
    width: 1108px;
    text-align: center;
    position: relative;
}
.header-top .container{
    height: 100%;
}
.logo-wrap{
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 148px;
    height: 57px;
    margin-top: 15px;
    float: left;
}
.topnav-wrap{
    float: right;
}
.topnav-wrap .nav-list>div{
    cursor: pointer;
    *cursor: hand;
}
.topnav-wrap .nav-list{
    color: #fff;
    line-height: 87px;
    height: 87px;
    float: left;
    padding: 0 25px;
    position: relative;
}
.topnav-wrap .nav-list a{
    color: #fff;
}
.topnav-wrap .second-nav{
    position: absolute;
    line-height: 35px;
    padding: 10px 0;
    background-color: #f1f1f2;
    opacity: .8;
    text-align: center;
    top: 92%;
    left: 50%;
    min-width: 120px;
    margin-left: -60px;
    display: none;
}
.topnav-wrap .nav-list:hover .second-nav{
    display: block;
}
.topnav-wrap .second-nav::before{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f1f1f2;
}
.topnav-wrap .second-nav li{
    min-width: 90px;
    padding: 0 15px;
    word-break: keep-all;
    white-space: nowrap;
}
.topnav-wrap .second-nav li,
.topnav-wrap .second-nav a{
    color: #4e524c;
    cursor: pointer;
    *cursor: hand;
}
.topnav-wrap .second-nav li:hover,
.topnav-wrap .second-nav li a:hover{
    color: #a50c11;
}
.wrapper{
    width: 100%;
    min-width: 1108px;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}
.footer{
    width: 100%;
    min-width: 1108px;
    background: #c7010b;
    height: 96px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.footer-nav{
    float: left;
}
.footer-nav .nav-list{
    text-align: left;
    color: #fff;
    line-height: 35px;
    float: left;
    padding: 0 30px;
    position: relative;
    margin-top: 33px;
}
.footer-nav .nav-list>a{
    color: #fff;
    font-size: 16px;
}
.footer-nav .second-nav{
    display: none;
    cursor: pointer;
    *cursor: hand;
}
.footer-nav  .second-nav li,
.footer-nav  .second-nav a {
    color: #fff;
    font-size: 13px;
}
.footer-tel{
    float: right;
    margin: 24px 20px 0 0;
    background-image: url(../img/tel.png);
    background-repeat: no-repeat;
    width: 278px;
    height: 51px;
 }