body{
    background: #f1f1f3;
}
.header{
    background: #c7010b;
}
.banner .container{
    width: 1100px;
}
h1{
    margin-top: 87px;
    padding: 25px 0 15px 0;
    text-align: left;
    font-size: 25px;
    border-bottom: solid 1px #cfcfcf;
}
.content{
    margin: 27px 0 65px 0;
    line-height: 30px;
    text-align: left;
    color: #676767;
}
.content p{
    font-size: 17px;
}
.content-img{
    width: 100%;
}
.content h2{
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}
.content h3{
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}
.content .img-wrap{
    text-align: center;
}
.inner-img{
    max-width: 100%;
    margin: 15px auto ;
}