.header{
    /*background: #bc0000;*/
}
.banner-wrap{
    height: 550px;
    background: #a50c11;
}
#slides {
    /*display:none;*/
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #a50c11;
}
#slides .slide-item {
    height: 100%;
    text-align: center;
    background-position: top center;
    position: relative;
    background-color: #f1f1f3;
}
.slidesjs-pagination{
    position: absolute;
    left:50%;
    bottom: 20px;
    margin-left: -27px;
    width: 54px;
    z-index: 100;
}
.slidesjs-pagination-item{
    overflow: hidden;
    float: left;
}
.slidesjs-pagination a {
    float: left;
    width: 11px;
    height: 11px;
    margin: 0 6px;
    text-indent: -999em;
    background-image: url(../img/qiu11.png);
    border-radius: 50%;
    cursor: pointer;
    *cursor: hand;
    margin-top: 3px;
}
.slidesjs-pagination  a.active {
    background-image: url(../img/qiu17.png);
    height: 17px;
    width: 17px;
    margin-top: 0;
}
.tips{
    margin: 0 auto;
    height: 244px;
    background-repeat: no-repeat;
    background-position: center;
}
/*5个轮播图*/
.pics-wrapper{
    max-width: 1540px;
    margin: 0 auto;
    position: relative;
}
#pics_box {
    position: relative;
    width: 100%;
    height:530px
}
#pics_box ul {
    position: relative;
    width: 100%;
    height: 530px
}
#pics_box li {
    z-index: 0;
    position: absolute;
    width: 0;
    background: #787878;
    height: 0;
    overflow: hidden;
    top: 146px;
    cursor: pointer;
    *cursor: hand;
    left: 377px;
}
#pics_box li img {
    width: 100%;
    height: 100%;
    vertical-align: top
}
.pics-wrapper .prev ,.pics-wrapper .next{
    display: block;
    z-index: 100;
    overflow: hidden;
    cursor: pointer;
    *cursor: hand;
    position: absolute;
    width: 59px;
    height: 59px;
    top: 235px;
}
.pics-wrapper .prev {
    background: url(../img/arrow-left.png);
    left: 20px
}
.pics-wrapper .next {
    background: url(../img/arrow-right.png);
    right: 20px
}
.pics-desc{
    margin: 20px 0 90px;
}
.pics-desc ul{
    position: relative;
    width: 934px;
    height: 180px;
    background: #f1f1f3;
    margin: 20px auto 0;
}
.pics-desc ul::before{
    content: "";
    display: block;
    position: absolute;
    left: 454px;
    top: -16px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 16px solid #f1f1f3;
}
.pics-desc li{
    text-align: center;
    display: none;
    line-height: 40px;
    color: #777;
    font-size: 23px;
    padding-top: 70px;
}
.pics-desc li.active{
    display: block;
}