body{
    background: #f1f1f3;
}
.header{
    background: #c7010b;
}
.banner .container{
    width: 1100px;
}
h1{
    margin-top: 87px;
    padding: 55px 0 15px 0;
    text-align: left;
    font-size: 25px;
    border-bottom: solid 1px #cfcfcf;
}
.news-list{
    margin: 45px 0 40px ;
}
.news-list li{
    width: 526px;
    float: left;
    margin-bottom: 55px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
/*双数*/
.news-list li.even{
    margin-left: 44px;
}
.item-top{
    height: 350px;
    width: 100%;
    position: relative;
}
.item-top img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    border-radius: 10px 10px 0 0;
}
.news-list li:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
}
.item-top .item-wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 94%;
    padding: 0 3%;
    background: rgba(0,0,0,.5);
    color: #fff;
}
.item-top .title{
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.item-top .desc{
    text-align: left;
    line-height: 26px;
    font-size: 14px;
    display: none;
    margin-bottom: 20px;
}
.item-wrap:hover .desc{
    display: block;
}
.item-bottom{
    height: 90px;
    line-height: 90px;
    position: relative;
    background: #fff;
    color: #000;
    text-align: left;
    padding: 0 150px 0 3.8%;
}
.item-bottom .time{
    font-size: 16px;
}
.item-bottom .more{
    position: absolute;
    top: 0;
    right: 35px;
    height: 90px;
    line-height: 90px;
}
.share-wrap{
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -15px;
    display: none;
}
.share{
    float: left;
    background: url(../img/share-icon.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 12px;
}
.share.tsina{
    background-position: 3px -3px;
}
.share.tsina:hover{
    background-position: -191px -3px;
}
.share.qzone{
    background-position: -85px -3px;
}
.share.qzone:hover{
    background-position: -278px -3px;
}
.content{
    margin: 145px 0 0;
    background: #fff;
    text-align: left;
    padding: 50px 0;
}
.content .name{
    font-size: 30px;
    padding: 0 40px;
}
.content .info{
    padding: 25px 40px 40px;
}
.content .time{
    font-size: 18px;
    float: left;
}
.content .auth{
    float: right;
    font-size: 18px;
}
.content .img-wrap{
    width: 100%;
}
.content .img-wrap img{
    width: 100%;
}
.txt-content{
    padding: 20px 40px;
    line-height: 30px;
}
.txt-content p{
    font-size: 16px;
}