html, body {
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: 'miui', 'microsoft yahei';
}
html, body, div, ul, li, p, span {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a, a:link, a:active {
    color: #fff;
}
li, a, a:link, a:active {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.ellipsis, .hero-title, .hero-desc, .download, .act-title, .act-desc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.container {
    width: 100%;
    overflow-y: hidden;
    background: #fff;
    position: relative;
    height: 100%;
}
.header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    height: 3.358024691358025rem;
    background: transparent;
}
.wrapper {
    height: 100%;
    overflow-y: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.wrapper:before, .wrapper:after {
    content: "";
    display: block;
}
.wrapper:before {
    height: 3.358024691358025rem;
}
.wrapper:after {
    height: 3.45679rem;
}
.article {
    color: #666;
    padding:5.62963% 3.7037% 2.77778%;;
}
.article .title {
    font-size: 1.48148rem;
    color: #25283b;
    font-weight: bold;
    line-height: 1.4;
}
.article .time {
    margin: 1.85185% 0 4.62963%;
    font-size: 0.88889rem;
}
.article .content {
    margin-bottom: 2.77778%;
    font-size: 0.98765rem;
    line-height: 1.7284rem;
}
.content a, .content a:active, .content a:link {
    color: #666;
    text-decoration: underline;
    display: inline-block;
}
.content p{
    margin-bottom: 1.7%;
}
.content img {
    text-align: center;
    margin: 3% 0;
    max-width: 100%;
}
