html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'miui', 'microsoft yahei';
}
html, body, div, ul, li, p, span {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a, a:link, a:active {
    color: #fff;
}
li, a, a:link, a:active {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    /* For some Androids */
}
.download, .info, .time {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.container {
    width: 100%;
    overflow-y: hidden;
    background: #fff;
    position: relative;
    height: 100%;
}
.header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    height: 3.358024691358025rem;
}
.wrapper {
    height: 100%;
    overflow-y: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.wrapper:before, .wrapper:after {
    content: "";
    display: block;
}
.wrapper:before {
    height: 3.358024691358025rem;
}
.wrapper:after {
    height: 3.45679rem;
}
.banner {
    width: 100%;
    position: relative;
    padding-top: 65.74074%;
}
.hidden {
    display: none;
}
.screenshots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.screenshots ul, .screenshots ul li {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.screenshots ul li {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}
.shots-tool {
    overflow: hidden;
    position: absolute;
    bottom: 2.77778%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.shots-tool .btn li {
    float: left;
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 0 0 0.6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: transparent;
    text-align: center;
    background: #fff;
    overflow: hidden;
    text-indent: -9999px;
}
.shots-tool .btn li.on {
    background: #1388fa;
}
.banner img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    padding-top: 16.2037%;
    position: relative;
    background-color: #235a8a;
}
header ul {
    font-size: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #235a8a;
}
header li {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 25%;
    height: 100%;
    background: #235a8a;
    color: #fff;
    line-height: 3.7037rem;
    font-size: 0;
}
header li span {
    display: block;
    box-sizing: border-box;
    font-size: 1.18519rem;
    line-height: 1.2;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding-top: 38.88889%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
header li span.hero {
    background-image: url(../img/nav-hero.png);
}
header li span.cs {
    background-image: url(../img/nav-cs.png);
}
header li span.shequ {
    background-image: url(../img/nav-shequ.png);
}
header li span.act {
    background-image: url(../img/nav-act.png);
}
header li span:before {
    width: 1px;
    height: 60%;
    background: #fff;
    top: 24%;
    right: 0;
    position: absolute;
    content: '';
    box-sizing: border-box;
    display: block;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    header li span:before {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translate3d(0, 0, 0) scaleX(0.5);
        transform: translate3d(0, 0, 0) scaleX(0.5);
    }
}
header li:active {
    background: #00b8ff;
}
header li:last-child span:before {
    content: '';
    display: block;
    width: 0;
}
.news-wrap {
    background: #f4f4f4;
    margin-top: 4.62963%;
    padding-bottom: 2.77778%;
}
.news-wrap ul {
    width: 100%;
    overflow: hidden;
    font-size: 1.03704rem;
    background: #fff;
}
.news-wrap ul li {
    position: relative;
    float: left;
    width: 100%;
}
.news-wrap ul li:before {
    height: 1px;
    width: 100%;
    background: #999;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    box-sizing: border-box;
    display: block;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .news-wrap ul li:before {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translate3d(0, 0, 0) scaleY(0.5);
        transform: translate3d(0, 0, 0) scaleY(0.5);
    }
}
.news-wrap .li-wrap {
    padding: 0 3.7037%;
}
.news-wrap ul li:active {
    background: #ebebeb;
}
.info {
    line-height: 3.7037rem;
    width: 80%;
}
.info .class {
    font-size: 0.88889rem;
    color: #fff;
    border-radius: 0.24691rem;
    -webkit-border-radius: 0.24691rem;
    padding: 0.04938rem 0.24691rem;
    margin-right: 0.37037rem;
}
.info .class.gg {
    background: #ed7058;
}
.info .class.new {
    background: #60a4f3;
}
.info .class.gl {
    background: #b49bca;
}
.info .class.hd {
    background: #f3a960;
}
.li-wrap {
    color: #666;
}
.li-wrap .time {
    width: 16%;
    position: absolute;
    padding-right: 2.77778%;
    top: 50%;
    right: 3.7037%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: right;
}
.li-wrap .time:before {
    content: '';
    padding-top: 11.11111%;
    width: 11.11111%;
    display: block;
    border: 0.04938rem solid #666;
    border-left-width: 0;
    border-top-width: 0;
    transform: translate(0, -50%) rotate(-45deg);
    -webkit-transform: translate(0, -50%) rotate(-45deg);
    position: absolute;
    top: 50%;
    right: 2.77778%;
}
.code-info {
    width: 100%;
    padding-top: 15.74074%;
    position: relative;
    background-color: #fff;
}
.code-nav {
    font-size: 0;
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
}
.code-nav:before {
    height: 1px;
    width: 100%;
    background: #999;
    left: 0;
    bottom: 0;
    position: absolute;
    content: '';
    box-sizing: border-box;
    display: block;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .code-nav:before {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translate3d(0, 0, 0) scaleY(0.5);
        transform: translate3d(0, 0, 0) scaleY(0.5);
    }
}
.code-nav li {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height: 4.19753rem;
    font-size: 0;
    z-index: 5;
}
.code-nav li span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding-top: 8.33333%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}
.code-nav li .weixin {
    background-image: url(../img/wx.png);
    position: relative;
}
.code-nav li .weixin:before {
    width: 1px;
    height: 100%;
    background: #999;
    top: 0;
    right: 0;
    position: absolute;
    content: '';
    box-sizing: border-box;
    display: block;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .code-nav li .weixin:before {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translate3d(0, 0, 0) scaleX(0.5);
        transform: translate3d(0, 0, 0) scaleX(0.5);
    }
}
.code-nav li .weibo {
    background-image: url(../img/wb.png);
}
.code-nav li.active .weixin {
    background-image: url(../img/wx-active.png);
}
.code-nav li.active .weibo {
    background-image: url(../img/wb-active.png);
}
.code-wrap {
    padding: 10.64815% 0 11.57407%;
    text-align: center;
}
.code-wrap .code {
    width: 28.61111%;
    padding-top: 33.98148%;
    margin: 0 auto;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}
.code-wrap .code.active {
    display: block;
}
.wx-code {
    background-image: url(../img/wx-code.png);
}
.wb-code {
    background-image: url(../img/wb-code.png);
}