html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: 'miui', 'microsoft yahei'; }

html, body, div, ul, li, p, span {
  margin: 0;
  padding: 0; }

li {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */ }

ul, li {
  list-style: none; }

a, a:link, a:active {
  color: #fff; }

li, a, a:link, a:active {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */ }

.ellipsis, .hero-title, .hero-desc, .download, .act-title, .act-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

[v-cloak] {
  display: none; }

.container {
  width: 100%;
  overflow-y: hidden;
  background: #fff;
  position: relative;
  height: 100%; }

.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  background: transparent;
  background: transparent; }

.p-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.wrapper {
  overflow-y: auto;
  position: absolute;
  left: 0;
  bottom: 3.45679rem;
  width: 100%;
  top: 3.358024691358025rem; }

.wrapper .empty {
  text-align: center;
  margin-top: 20%; }

.video-wrap {
  padding: 3.7037%;
  background: #fff; }

.banner-title {
  margin-top: 2.77778%;
  margin-bottom: 7.40741%;
  font-size: 1.03704rem;
  color: #666; }

.banner-video {
  position: relative;
  width: 100%;
  padding-top: 56.2%;
  background: url(../img/video-banner.png) center no-repeat;
  background-size: 100% 100%; }

.play-btn {
  width: 12.7%;
  padding-top: 8.4%;
  background: url(../img/banner-btn.png) center no-repeat;
  background-size: 100% 100%; }

.video-like {
  margin: 0 0 2.77778% 0;
  font-size: 1.18519rem;
  color: #000000; }

.video-wrap ul {
  width: 100%;
  overflow: hidden; }

.video-wrap li {
  position: relative;
  float: left;
  width: 48.5%; }

.video-wrap li:nth-child(2n) {
  margin-left: 2.77778%; }

/* 偶数 */
.video-img {
  position: relative;
  width: 100%; }

.video-img img {
  display: block;
  width: 100%; }

.video-play {
  width: 13.60825%;
  padding-top: 13.60825%;
  background: url(../img/video-btn.png) center no-repeat;
  background-size: 100% 100%; }

.video-title {
  margin-top: 4.94845%;
  margin-bottom: 16.49485%;
  font-size: 1.03704rem;
  color: #666; }

.video-alert {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
  opacity: 1;
  background: #060606; }

.close {
  color: #fff;
  font-size: 1rem;
  width: 20%;
  text-align: center;
  position: absolute;
  right: 0;
  padding: 5% 0;
  z-index: 1; }

#myvideo {
  width: 100%;
  margin-top: 50%; }

.footer-wrap {
  width: 100%;
  height: 3.45679rem;
  position: absolute;
  left: 0;
  bottom: 0; }

.footer-wrap ul {
  font-size: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; }

.footer-wrap li {
  position: relative;
  text-align: center;
  float: left;
  width: 25%;
  height: 100%;
  background-color: #0d0f17;
  color: #fff;
  line-height: 3.45679rem;
  font-size: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.footer-wrap li.active {
  color: #00afff; }

.footer-wrap li a {
  display: block;
  height: 100%;
  overflow: hidden; }

.footer-wrap li span {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 0.93827rem;
  line-height: 1.2;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.footer-wrap li span:before {
  width: 1px;
  height: 88%;
  background: #fff;
  top: 8%;
  right: 1px;
  position: absolute;
  content: '';
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block; }

.footer-wrap li:last-child span:before {
  background: none; }

@media (-webkit-min-device-pixel-ratio: 2) {
  .footer-wrap li span:before {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate3d(0, 0, 0) scaleX(0.5);
    transform: translate3d(0, 0, 0) scaleX(0.5); } }

/*# sourceMappingURL=xmcs_video_entry.2eba720b.css.map*/